* {
  margin: 1vw;
  padding: 0;
}

#container {
  background-color: #9f9;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#container h1 {
  text-align: center;
  font-size: 2vw;
}
#container form {
  display: flex;
  flex-direction: column;
}
#container form section {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
#container form button {
  width: 20%;
}